form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}
.flex {
  display: flex;
}
label {
  font-size: 1em;
  margin-bottom: 10px;
  font-weight: bold;
  cursor: pointer;
}

input {
  margin-left: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 15px;
}

input[type="radio"] {
  margin-right: 5px;
}

div {
  margin-bottom: 15px;
}

button[type="submit"] {
  padding: 10px;
  font-size: 16px;
  border: none;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

span {
  margin-right: 0.5rem;
}
h1 {
  text-align: center;
}
